/* base.html styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
label {
font-family: "Lato", sans-serif
}

.w3-bar,
h1,
button {
font-family: "Montserrat", sans-serif
}

.fa-anchor,
.fa-coffee {
font-size: 200px;
width: 300px;
}

.simulation-form
{
    max-width: 30rem;
    margin: 0 auto;
}

/******/

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  width: 300px;
}

#mainFrameDiv {
    margin-right:auto;
    margin-left:auto;
    overflow: auto;
}

[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {  
  height: auto;
} 
@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }  
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }  
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}



/* D3 Force Graph styles */
.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font-family: sans-serif;
  font-size: 10px;
}

